{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CESCWORK</title>
	<link rel="shortcut icon" href="{% static 'img/cesc.png' %}">

</head>
<body>
	<H3>CRYPTOESCUDO HEADER</H3>		
		{%if user.is_authenticated %}
		<h2>Hello {{user.username}}</h2>
		{%else%}
		<p>you are not logged in</p>
		{%endif%}
	<a href="{%url 'register'%}">Register</a>
	<a href="{%url 'login'%}">Login</a>
	<a href="{%url 'logout'%}?next={{request.path}}">Logout</a>
	<hr>
	<img src="{% static 'img/cesc.png' %}" alt="">
	{%block page%}

	{%endblock%}
	<hr>

	<h3>FOOTER</h3>
	
</body>
</html>